<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clusters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Clusters</h2>
  <p>Here you can find the main complaints of your customers</p>
  <div class="row">
    <div class="col-md-6">
      <div class="responsive">
        <a href="../images/cluster_0.png" target="_blank">
          <img src="../images/cluster_0.png" alt="Lights" style="width:115%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="responsive">
        <a href="../images/cluster_0.png" target="_blank">
          <img src="../images/cluster_0.png" alt="Nature" style="width:115%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
